.container {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.about-hero {
  height: 60vh;
  background: linear-gradient(to right, #383363, rgba(94, 23, 235, 1));
  text-align: center;
  color: white;
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 0;
}

section p,
section ul {
  max-width: 90rem;
  text-align: left;
}

section ul {
  list-style: none;
}

section ul li {
  margin: 1rem 0;
  font-weight: 500;
}

h1 {
  font-family: var(--secondary-font);
  font-size: clamp(3rem, 10vw, 4rem);
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
  line-height: 1.2;
}

h2 {
  font-family: var(--secondary-font);
  font-size: clamp(3rem, 10vw, 3rem);
  font-weight: 700;
  color: var(--typography-colour);
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.about-hero p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.btn-primary {
  width: 20rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
  padding: 1rem 2rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: white;
  color: var(--primary-colour);
  transform: scale(1.05);
}

.name {
  font-weight: 700;
}

.product-gallery {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap; 
}

.product-item {
  width: 5rem;
  height: 5rem;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: red;
}

.product-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}


.product-item img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

section h2 {
  margin-bottom: 1.5rem;
}

section img:not(.product-item img) {
  max-width: 60rem;
  height: auto;
  margin: 4rem auto;
  border-radius: 8px;
  display: block;
}



@media (max-width: 768px) {
  .about-hero h1 {
    font-size: 2.4rem;
  }

  .about-hero p {
    font-size: 1.6rem;
  }

  section h2 {
    font-size: 2rem;
  }

  .cta-section h2 {
    font-size: 2.2rem;
  }

  .cta-section p {
    font-size: 1.6rem;
  }
}
