.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

/*Hero Section*/
.about-hero {
    background: linear-gradient(to right, #383363, rgba(94, 23, 235, 1));
    color: #fff;
    text-align: center;
    padding: 6rem 2rem;
}

.about-hero h1 {
    font-family: var(--secondary-font);
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

.about-hero p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.btn-primary {
    width:  20rem;
    height: 5rem;
    display: flex;            
    justify-content: center;  
    align-items: center; 
    color: white;
    padding: 1rem 2rem;
    border: 2px solid white;
    border-radius: 8px;
    
    transition: transform 0.3s ease, background-color 0.3s ease;
    
}

.btn-primary:hover {
    background-color: white;
    color: var(--primary-colour);
    transform: scale(1.05);
}

.name{
    font-weight: 700;
}

/* Section Headings*/
section h2 {
    font-family: var(--heading-font);
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: var(--primary-colour);
}

section p, section ul {
    max-width: 800px;
    margin: 0 auto 2rem auto;
    text-align: center;
}

section ul {
    list-style: none;
}

section ul li {
    margin: 1rem 0;
    font-weight: 500;
}


section img {
    display: block;
    max-width: 20rem;
    height: auto;
    margin: 2rem auto;
    border-radius: 8px;
}

.product-gallery, .team-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}



.cta-section {
    background-color: var(--primary-colour);
    color: #fff;
    text-align: center;
    padding: 4rem 2rem;
}

.cta-section h2 {
    font-size: 2.8rem;
}

.cta-section p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}


@media (max-width: 768px) {
    .about-hero h1 {
        font-size: 2.4rem;
    }

    .about-hero p {
        font-size: 1.6rem;
    }

    section h2 {
        font-size: 2rem;
    }

    .cta-section h2 {
        font-size: 2.2rem;
    }

    .cta-section p {
        font-size: 1.6rem;
    }
}
