

main{
    min-height: 50vh;
}

.product-detail {
  width: 100%;
  height: 90vh;
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  padding: 3rem 5rem;
}

.image-holder{
    width: 40rem;
    height: 40rem;
    padding: 5rem;
    background-color: rgb(228, 228, 228);
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.171);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.product-detail img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  border-radius: 10px;
  
}

.product-detail .details {
  max-width: 70rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.description{
    width: 80%;
}

.add-to-cart-btn {
  margin-top: 2rem;
  padding: 1rem 3rem;
  border: none;
  background: var(--primary-colour);
  color: white;
  cursor: pointer;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.add-to-cart-btn:hover{
    background: var(--accent-colour);
}


.add-to-cart-btn path {
  fill: #fff;
  width: 2rem;
  height: 2rem;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 1.5rem;
}

.quantity-wrapper {
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--primary-colour);
  border-radius: 0.5rem;
  overflow: hidden;
}

.quantity-wrapper button {
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: var(--primary-colour);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
}

.quantity-wrapper button:hover {
  background-color: var(--accent-colour);
}

.quantity-wrapper input[type="number"] {
  width: 4rem;
  height: 3rem;
  text-align: center;
  font-size: 1.6rem;
  border: none;
  outline: none;
  color: var(--typography-colour);
  background-color: var(--background-colour);
}


.quantity-wrapper input::-webkit-outer-spin-button,
.quantity-wrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-wrapper input[type="number"] {
  -moz-appearance: textfield;
}
