*{
    margin: 0;
    padding: 0;
}

html{
    font-family: var(--primary-font);
    font-size: 62.5%;
    color: var(--typography-colour);
    text-align: center;
}

body{
    min-height: 100vh;
    background: url("../images/backgrounds/background.jpg");
    background-size: cover;
    background-position: right;
    overflow: hidden;
    font-size: 1.2rem;
}

.wrapper{
    box-sizing: border-box;
    background-color: var(--background-colour);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}

form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-colour);
    border-radius: 1rem 0 0 1rem;
    fill: var(--background-colour);
    color: var(--background-colour);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
}

form input{
    box-sizing: border-box;
    flex: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-colour);
    background-color: var(--input-colour);
    transition: 150ms ease;
}

form input:hover{
    border: 2px solid var(--accent-colour);
}

form input:focus{
    outline: none;
    border-color: var(--typography-colour);
}
div:has(input:focus)> label{
    background-color: var(--typography-colour);
}

form input::placeholder{
    color: var(--typography-colour);
    opacity: 0.7;
}

form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: 0.85em 4em;
    background-color: var(--accent-colour);
    color: var(--background-colour);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}

form button:hover{
    background-color: var(--typography-colour);
}

form button:focus{
    outline: none;
    background-color: var(--typography-colour);
}

.text-link{
    color: var(--accent-colour-light);
    text-decoration: none;
}

.text-link:hover{
    color: var(--accent-colour);
    text-decoration: underline;
}

/*Phones and tablets*/
@media(max-width: 1100px){
    .wrapper{
        width: min(600px, 100%);
        border-radius: 0;
    }
}

form div.incorrect label{
    background-color: rgb(255, 51, 51);

}

form div.incorrect input{
    border-color: rgb(255, 51, 51);
}

#error-message{
    color: rgb(255, 51, 51);
}