/*Satoshi Font*/
@import url('https://fonts.cdnfonts.com/css/satoshi');

/*Neue Montreal Font*/
@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');

:root{
    --primary-colour: rgba(56,51,99,1);
    --secondary-colour: rgba(94,23,235,1);
    --background-colour: rgba(246,246,246,1);
    --input-colour: #e7e7e7;
    --typography-colour: rgba(44,44,44,1);
    --primary-font: 'Satoshi', sans-serif;
    --secondary-font: 'PP Neue Montreal', sans-serif;
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: var(--primary-font);
    font-size: 62.5%;
    color: var(--typography-colour);
    text-align: center;
}

body{
    min-height: 100vh;
    background: url("/images/background.jpg");
    background-size: cover;
    background-position: right;
    overflow: hidden;
}

form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--secondary-colour);
    border-radius: 1rem 0 0 1rem;
    fill: var(--background-colour);
    color: var(--background-colour);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
}

form input{
    box-sizing: border-box;
    flex: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border: 2px solid var(--input-colour);
    background-color: var(--input-colour);
    transition: 150ms ease;
}

form input:hover{
    border: 2px solid var(--secondary-colour);
}

form input:focus{
    outline: none;
    border-color: var(--typography-colour);
}
div:has(input:focus)> label{
    background-color: var(--typography-colour);
}

form input::placeholder{
    color: var(--typography-colour);
    opacity: 0.7;
}

form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: 0.85em 4em;
    background-color: var(--secondary-colour);
    color: var(--background-colour);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}

form button:hover{
    background-color: var(--typography-colour);
}

form button:focus{
    outline: none;
    background-color: var(--typography-colour);
}

/*

*{
    margin: 0;
}

html{
    font-size: 62.5%;
}*/

.darktheme{
    --primary-colour: rgba(56,51,99,1);
    --secondary-colour: rgba(94,23,235,1);
    --background-colour: rgb(26, 26, 26);
    --typography-colour: rgb(231, 231, 231);
    --black: rgb(255, 255, 255);
    --white: rgb(0, 0, 0);
}
   /*
body{
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
    background: var(--background-colour);
    color: var(--typography-colour);


}
*/

.wrapper{
    box-sizing: border-box;
    background-color: var(--background-colour);
    height: 100vh;
    width: max(40%, 600px);
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
}
h1, h2 {
  font-family: 'PP Neue Montreal', sans-serif; /* Heading font */
}

header{
    height: 8rem;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.nav-container{
    height: 6rem;
    width: 100%;
    background-color: var(--background-colour);
    border-bottom: 1.5px var(--typography-colour) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.nav-menu{
    height: 100%;
    width: fit-content;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;


}

.navlinks{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:0;
}

.navlinks li{
    display: inline-block;
    padding: 0 4rem;
}

.navlinks a{
    text-decoration: none;
    color: var(--typography-colour);
    transition: all 0.1s ease;
}

a.active{
    color: var(--secondary-colour);
    font-weight: bold;
}

main{
    height: 100%;
    width: 100%;
}

section{
    height: 100%;
    width: 100%;
}

footer{
    height: 5rem;
    width: 100%;
    background-color: var(--typography-colour);
    display: flex;
    justify-content: center;
    align-items: center
}

footer p{
    font-size: 1.1rem;
    line-height: 100%;
    color: var(--background-colour);
    text-transform: uppercase;
}

#product-list{
    margin: 15rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
}

.product-item{
    width: 30rem;
    height: 30rem;
    padding: 2rem;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.105);
    border-radius: 1.5rem;

}

.product-item img{
    width: 17rem;
    height: 17rem;
}

.product-title{
    font-size: 1.3rem;
    line-height: 1.4rem;


}

.product-price{
    font-size: 1.2rem;
    line-height: 1.6rem;
    
}