/*Satoshi Font*/
@import url("https://fonts.cdnfonts.com/css/satoshi");

/*Neue Montreal Font*/
@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

:root {
  --primary-colour: rgba(56, 51, 99, 1);
  --accent-colour: rgba(94, 23, 235, 1);
  --accent-colour-light: rgb(115, 55, 236);
  --accent-colour-dark: rgb(74, 19, 185);
  --background-colour: rgba(246, 246, 246, 1);
  --background-colour-2: #222;
  --input-colour: #e7e7e7;
  --product-card-bg: rgb(228, 228, 228);
  --typography-colour: rgba(44, 44, 44, 1);
  --primary-font: "Satoshi", sans-serif;
  --secondary-font: "PP Neue Montreal", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

.darktheme {
  --primary-colour: rgba(56, 51, 99, 1);
  --accent-colour: rgba(94, 23, 235, 1);
  --background-colour: rgb(26, 26, 26);
  --typography-colour: rgb(231, 231, 231);
}

body {
  /*min-height: 100vh;*/
  background: var(--background-colour);
  color: var(--typography-colour);
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: var(--primary-font);
}

main {
  min-height: 100vh;
}

h1,
h2 {
  font-family: s "PP Neue Montreal", sans-serif; /* Heading font */
}

header {
  height: 8rem;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*background-color: aqua;*/
}

.pin-spacer {
  width: 100%;
}

/* Navigation Bar */
.nav-container {
  height: 6rem;
  width: 100%;
  background-color: var(--background-colour);
  border-bottom: 1.5px var(--typography-colour) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  /*background-color: red;*/
}

.nav-logo {
  width: fit-content;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: green;*/
}

.nav-logo a {
  color: var(--typography-colour);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-logo a:hover {
  color: var(--accent-colour);
}

.nav-menu {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: rgb(255, 0, 200);*/
}

.header-actions {
  height: 100%;
  width: fit-content;
  /*background-color: yellow;*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-self: flex-end;
  gap: 1rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25rem;
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.cart-holder {
  text-decoration: none;
  color: var(--background-colour);
  background-color: var(--accent-colour);
  font-weight: 700;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
}

.cart-holder svg path{
  fill: var(--background-colour);
}

.cart-holder:hover {
  background-color: var(--accent-colour-dark);
}

.search-wrapper {
  display: flex;
  flex-direction: column;
}

.navlinks {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  gap: 5rem;
}

/*.navlinks li {
  display: inline-block;
  padding: 0 4rem;
}*/

.navlinks a {
  text-decoration: none;
  color: var(--typography-colour);
  transition: all 0.1s ease;
  display: block;
}

a.active {
  color: var(--accent-colour);
  font-weight: bold;
}

.overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*z-index: 5;*/
  backdrop-filter: blur(4px);
}

.burgerbutton {
  font-size: 2.8rem;
  color: var(--accent-colour);
  line-height: 2.8rem;
  cursor: pointer;
  display: none;
}

.closeBtn {
  font-size: 4rem;
  color: var(--site-color-1);
  line-height: 4rem;
  cursor: pointer;
  display: none;
  align-self: flex-start;
  margin: 1rem 2rem;
}

main {
  height: 100%;
  width: 100%;
}

section {
  height: 100%;
  width: 100%;
}

/*Back to top button*/

.back-to-top {
  display: none;
  position: fixed;
  width: 4rem;
  height: 5rem;
  bottom: 2rem;
  right: 2rem;
  z-index: 0;
  border: none;
  outline: none;
  background-color: var(--background-colour);
  color: var(--typography-colour);
  cursor: pointer;
  padding: 0;
  border-radius: 50px;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.573);
  font-size: 2rem;
  transition: all 0.5s ease 0s;
}

.back-to-top:hover {
  background-color: var(--accent-colour);
  color: var(--background-colour);
}

footer {
  height: 5rem;
  width: 100%;
  background-color: var(--background-colour-2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  font-size: 1.1rem;
  line-height: 100%;
  color: var(--background-colour);
  text-transform: uppercase;
}

#user-greeting {
  display: none;
  width: 25rem;
  height: 5rem;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-colour);
  color: var(--background-colour);
  padding: 0rem 1rem;
  border-radius: 5px;
  font-size: 1.6rem;
  line-height: 5rem;
  text-align: center;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.573);
  z-index: 100;
}


.login-container{
  width: fit-content;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font: var(--secondary-font);
  text-transform: capitalize;
  /*background-color: red;*/
}



.login-container a{
  text-decoration: none;
  color: var(--typography-colour);
  transition: color 0.3s ease;
}

.login-container a:hover {
  text-decoration: underline;
  color: var(--accent-colour);
}

.login-container a:hover ~ svg path {
  fill: var(--accent-colour);
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .navlinks li a {
    padding: 1rem 0rem;
    text-align: center;
  }

  .logo a {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  .nav-logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-actions a {
    font-size: 3rem;
    line-height: 3rem;
  }

  .closeBtn {
    display: block;
    font-size: 3rem;
    line-height: 3rem;
  }

  .burgerbutton {
    display: block;
    font-size: 2rem;
    line-height: 2rem;
  }

  .navcontainer {
    height: 100vh;
    background-color: var(--background-colour);
  }

  .back-to-top {
    width: 4rem;
    height: 5rem;
    font-size: 18px;
  }

  .nav-menu {
    display: none;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    width: 80%;
    background: none;
    background-color: var(--background-colour);
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    transition: all 0.5s;
    z-index: 100;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.573);
    opacity: 1;
    transition: display 0.7s ease-in-out;
  }

  .navlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 0;
    top: 0;
    bottom: 0;
    padding: 1rem;
  }

  .navlinks li {
    width: 10rem;
    display: block;
    padding: 2rem 0;
  }

  .navlinks li a {
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .navlinks li a:after {
    background: none;
    content: "";
    position: absolute;
    height: 0.3rem;
    width: 0;
    left: 0;
    bottom: -1.5rem;
    transition: 0.3s;
  }

  .navlinks a {
    position: relative;
    display: block;
    background: none;
    padding: 0;
    letter-spacing: 0.05rem;
  }

  .navlinks li a:hover {
    transform: translateY(-0.6rem);
  }

  .navlinks a.active {
    background: none;
    padding: 0;
  }

  .navlinks a.active:hover {
    color: var(--site-color-2);
  }

  .header-actions {
    margin: 2rem 0;
    display: none;
    height: auto;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .header-actions a {
    width: 2.8rem;
    height: 2.8rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
}

@media screen and (max-width: 600px) {
}
